# Normalize text files to LF across platforms.
*               text=auto eol=lf

# These are Windows script files and should use CRLF.
*.bat            text eol=crlf
*.cmd            text eol=crlf

# Linux start script should use LF.
/gradlew         text eol=lf

# Binary files are not subject to text normalization.
*.jar            binary
*.png            binary
*.apk            binary
*.apkm           binary

.github/workflows/*.lock.yml linguist-generated=true
